<h1>Stupid Coaching</h1>
<p>Ask your coach Anything!</p>
<div class="form-floating mb-3">
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" id="q" class="form-control-sm">
  <input type="submit" value="Ask!">
</form>
</div>
